#hero {
  width: 100%;
  height: 100vh;
  background: url("../../assets/img/hero-mobile.jpg") center / cover no-repeat;
  color: rgb(51,51,51);
}

@media (min-width: 768px) {
  #hero {
    width: 100%;
    height: 100vh;
    background: url("../../assets/img/hero.jpg") center / cover no-repeat;
    color: rgb(51,51,51);
  }
}

#title {
  font-size: 32px;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

#subtitle {
  font-size: 40px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

#hero-top {
  text-align: center;
}

.p-top {
  font-size: 26px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
}

.p-botomm {
}

.width-borders {
  border: 1px solid rgba(255,255,255,0.33);
  border-top: 0;
  border-bottom: 0;
}

.reserve-button {
  width: 100%;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 30px;
}

#video-and-status {
  text-align: center;
  color: white;
}

#stats {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 150px;
  margin-left: 0px;
}

@media (min-width: 768px) {
  #stats {
    width: 792px;
    margin: 0 auto;
    margin-bottom: 150px;
    margin-left: 250px;
  }
}

#interior {
  width: 100%;
  height: 100vh;
}

@media (min-width: 768px) {
  #interior {
    width: 100%;
    height: 100vh;
  }
}

#vertical-line {
  width: 1px;
  background-color: rgba(128,128,128,0.51);
  margin: 0 auto;
  height: 200px;
}

